/* src/Components/ContactSearchForm/ContactSearchForm.css */

.contact-search-form {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
}

.contact-search-form input {
    width: 100%;
    padding: 8px 12px 8px 40px;
    /* Padding izquierdo extra para el icono */
    border-radius: 8px;
    border: none;
    background-color: var(--wa-input-bg);
    color: var(--wa-text-primary);
    font-size: 14px;
    outline: none;
    height: 35px;
}

.contact-search-form input::placeholder {
    color: var(--wa-text-secondary);
}



/* Icono de búsqueda absoluto */
.search-icon {
    position: absolute;
    left: 12px;
    color: var(--wa-text-secondary);
    font-size: 18px;
    pointer-events: none;
}